# 05开始烹调-数据运算

In [2]:
import pandas as pd
import numpy as np
# 一个cell输出多行语句
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

### 一、算术运算
加减乘除运算

In [7]:
df = pd.DataFrame(np.arange(6).reshape(2, 3) + 1, columns=['C1', 'C2', 'C3'], index=['S1', 'S2'])
df
df['C1'] + df['C2']
df['C1'] - df['C2']
df['C1'] * df['C2']
df['C1'] / df['C2']

    C1  C2  C3
S1   1   2   3
S2   4   5   6

S1    3
S2    9
dtype: int64

S1   -1
S2   -1
dtype: int64

S1     2
S2    20
dtype: int64

S1    0.5
S2    0.8
dtype: float64

In [10]:
# 任意一列加/减一个常数值
df['C1'] + 2
df['C1'] - 2
df['C1'] * 2
df['C1'] / 2

S1    3
S2    6
Name: C1, dtype: int64

S1   -1
S2    2
Name: C1, dtype: int64

S1    2
S2    8
Name: C1, dtype: int64

S1    0.5
S2    2.0
Name: C1, dtype: float64

## 二、比较运算

In [12]:
df['C1'] > df['C2']
df['C1'] != df['C2']
df['C1'] < df['C2']

S1    False
S2    False
dtype: bool

S1    True
S2    True
dtype: bool

S1    True
S2    True
dtype: bool

## 三、汇总运算
算术运算和比较运算是在列与列之间进行，运算结果有多少行就会返回多少个结果

汇总运算：将数据进行汇总返回一个汇总后的结果

### 1、count非空值计数
非空数值计数：计算某个区域中非空（单元格）数值的个数

Excel实现：**counta()**函数，类似**count()函数**（计算某个区域中含有数字的单元格的个数）

Python实现：**count()**函数

In [14]:
# 默认求取每一列非空数值的个数
df.count()
# axis参数：1列索引，表示行；0行索引，表示列
# 1：列索引，表示每行非空个数；0：行索引，表示每列非空个数
df.count(axis=1)

C1    2
C2    2
C3    2
dtype: int64

S1    3
S2    3
dtype: int64

In [15]:
df['C1'].count()

2

### 2、sum求和

In [18]:
df.sum()
df.sum(axis=1)
df['C1'].sum()

C1    5
C2    7
C3    9
dtype: int64

S1     6
S2    15
dtype: int64

5

### 3、求平均值
Excel实现：**average()**函数

Python实现：**mean()**函数

In [19]:
df.mean()
df.mean(axis=1)
df['C1'].mean()

C1    2.5
C2    3.5
C3    4.5
dtype: float64

S1    2.0
S2    5.0
dtype: float64

2.5

### 4、最大值

In [21]:
df.max()
df.max(axis=1)
df['C1'].max()

C1    4
C2    5
C3    6
dtype: int64

S1    3
S2    6
dtype: int64

4

### 5、最小值

In [23]:
df.min()
df.min(axis=1)
df['C1'].min()

C1    1
C2    2
C3    3
dtype: int64

S1    1
S2    4
dtype: int64

1

### 6、median求中位数
中位数：将一组含有n个数据的序列X按从小到大排列，位于中间的那个数

中位数是以中间位置的数来反映数据的一般情况，不容易受到极大值、极小值的影响，比平均数更具有代表性

<img src='./image/median.jpg' width='40%' />

例如：1、3、5、7、9中位数为5，1、3、5、7中位数为（3+5）/2 = 4

Excel实现和Python实现：**median()**函数

In [24]:
df.median()
df.median(axis=1)
df['C1'].median()

C1    2.5
C2    3.5
C3    4.5
dtype: float64

S1    2.0
S2    5.0
dtype: float64

2.5

### 7、mode求众数
众数：一组数据中出现次数最多的数

Excel和Python实现：**mode()**函数

In [25]:
df.mode()
df.mode(axis=1)
df['C1'].mode()

   C1  C2  C3
0   1   2   3
1   4   5   6

    0  1  2
S1  1  2  3
S2  4  5  6

0    1
1    4
dtype: int64

### 8、var求方差
方差：衡量一组数据的离散程度（即数据波动幅度）

Excel和Python实现：**var()**函数

In [26]:
df.var()
df.var(axis=1)
df['C1'].var()

C1    4.5
C2    4.5
C3    4.5
dtype: float64

S1    1.0
S2    1.0
dtype: float64

4.5

### 9、std求标准差
标准差是方差的平方根，两者都是用来表示数据的离散程度。

Excel实现：**stdevp()**函数

Python实现：**std()**函数

In [27]:
df.std()
df.std(axis=1)
df['C1'].std()

C1    2.12132
C2    2.12132
C3    2.12132
dtype: float64

S1    1.0
S2    1.0
dtype: float64

2.1213203435596424

### 10、quantile求分位数
分位数是比中位数更加详细的基于位置的指标，分位数主要有四分之一分位数、四分之二分位数、四分之三分位数。四分之二就是中位数。

Excel实现：**percentile()**函数

Python实现：**quantile()**函数

In [28]:
df.quantile(0.25)
df.quantile(0.75)
df.quantile(0.25, axis=1)
df['C1'].quantile(0.25)

C1    1.75
C2    2.75
C3    3.75
Name: 0.25, dtype: float64

C1    3.25
C2    4.25
C3    5.25
Name: 0.75, dtype: float64

S1    1.5
S2    4.5
Name: 0.25, dtype: float64

1.75

## 四、相关性运算
相关性常用来衡量两个事物之间的**相关程度**，比如：啤酒和尿布二者的相关性很强。一般用**相关系数**来衡量两者的相关程度。

相关性计算就是计算相关系数。比较常用的就是**波尔逊相关系数**。

Excel实现：**correl()函数**

Python实现：**corr()函数**