# 03菜品挑选-数据选择
常见的数据选择

* 列选择
* 行选择
* 行列选择

In [1]:
import pandas as pd
import numpy as np
# 一个cell输出多行语句
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

## 一、列选择
### 1、选择某一列/某几列
通过传入列名选择数据的方式称为**普通索引**

通过传入具体位置来选择数据的方式成为**位置索引**

In [18]:
df = pd.read_excel('./data/delete_repeat.xlsx')
df
df['订单编号']
df[['订单编号', '客户姓名']]

  订单编号 客户姓名  唯一识别码       成交时间
0   A1  张 通    101 2018-08-08
1   A2   李谷    102 2018-08-09
2   A3   孙凤    103 2018-08-10
3   A3   孙凤    103 2018-08-10
4   A4   赵恒    104 2018-08-11
5   A5   赵恒    104 2018-08-12

0    A1
1    A2
2    A3
3    A3
4    A4
5    A5
Name: 订单编号, dtype: object

  订单编号 客户姓名
0   A1  张 通
1   A2   李谷
2   A3   孙凤
3   A3   孙凤
4   A4   赵恒
5   A5   赵恒

In [7]:
# iloc方法：传入具体列的位置
# 获取第1列和第3列的数值
df.iloc[:, [0,2]]

  订单编号  唯一识别码
0   A1    101
1   A2    102
2   A3    103
3   A3    103
4   A4    104
5   A5    104

### 2、选取连续的某几列
**iloc**

通过传入位置区间来选择数据的方式成为**切片索引**

In [9]:
# 0:3 前闭后开，包含第一列，不包含第4列
df.iloc[:, 0:3]

  订单编号 客户姓名  唯一识别码
0   A1  张 通    101
1   A2   李谷    102
2   A3   孙凤    103
3   A3   孙凤    103
4   A4   赵恒    104
5   A5   赵恒    104

## 二、行选择
### 1、选择某一行/某几行

* 普通索引：传入具体行索引的名称，需要用到**loc**方法
* 位置索引：传入具体的行数，需要用到**iloc**方法

In [15]:
df = df.rename(index={1:'一', 2:'二', 3:'三'})
df.loc['一']
df.loc[['一', '二']]

订单编号                      A2
客户姓名                      李谷
唯一识别码                    102
成交时间     2018-08-09 00:00:00
Name: 一, dtype: object

  订单编号 客户姓名  唯一识别码       成交时间
一   A2   李谷    102 2018-08-09
二   A3   孙凤    103 2018-08-10

In [16]:
df.iloc[0]
df.iloc[[0, 1]]

订单编号                      A1
客户姓名                     张 通
唯一识别码                    101
成交时间     2018-08-08 00:00:00
Name: 0, dtype: object

  订单编号 客户姓名  唯一识别码       成交时间
0   A1  张 通    101 2018-08-08
一   A2   李谷    102 2018-08-09

### 2、选择连续的某几行
**iloc**

In [17]:
# 选择第一行到第三行
df.iloc[0:2]

  订单编号 客户姓名  唯一识别码       成交时间
0   A1  张 通    101 2018-08-08
一   A2   李谷    102 2018-08-09

### 3、选择满足条件的行

In [23]:
df = pd.read_excel('./data/select_condition.xlsx')
df
df[df['年龄'] < 200]
df[(df['年龄'] < 200) & (df['唯一识别码'] < 102)]

  订单编号 客户姓名  唯一识别码   年龄       成交时间
0   A1  张 通    101   31 2018-08-08
1   A2   李谷    102   45 2018-08-09
2   A3   孙凤    103   23 2018-08-10
3   A4   赵恒    104  204 2018-08-11
4   A5   赵恒    104  204 2018-08-12

  订单编号 客户姓名  唯一识别码  年龄       成交时间
0   A1  张 通    101  31 2018-08-08
1   A2   李谷    102  45 2018-08-09
2   A3   孙凤    103  23 2018-08-10

  订单编号 客户姓名  唯一识别码  年龄       成交时间
0   A1  张 通    101  31 2018-08-08

## 三、行列同时选择
行、列同时选择：选出行和列相交的部分
### 1、普通索引+普通索引选择指定的行和列
同时传入行和列的索引名称进行数据选择，loc方法

In [25]:
df.index = ['一', '二', '三', '四', '五']
df

  订单编号 客户姓名  唯一识别码   年龄       成交时间
一   A1  张 通    101   31 2018-08-08
二   A2   李谷    102   45 2018-08-09
三   A3   孙凤    103   23 2018-08-10
四   A4   赵恒    104  204 2018-08-11
五   A5   赵恒    104  204 2018-08-12

In [26]:
df.loc[['一', '二'], ['订单编号', '唯一识别码']]

  订单编号  唯一识别码
一   A1    101
二   A2    102

## 2、位置索引+位置索引选择指定的行和列
同时传入行、列索引的位置来获取数据，iloc方法

In [27]:
df.iloc[[0,1], [0,2]]

  订单编号  唯一识别码
一   A1    101
二   A2    102

### 3、布尔索引+普通索引选择指定的行和列
先**布尔索引**选择行，在通过**普通索引**选择列

In [28]:
df[df['年龄'] < 200][['订单编号', '年龄']]

  订单编号  年龄
一   A1  31
二   A2  45
三   A3  23

### 4、切片索引+切片索引选择指定的行和列
传入行、列的位置区间进行数据选择

In [29]:
df.iloc[0:2, 1:2]

  客户姓名
一  张 通
二   李谷

### 5、切片索引+普通索引选择指定的行和列
普通索引：传入行或列名，**loc**方法

切片索引：传入行或列位置区间，**iloc**方法

切片索引+普通索引：行（列）用切片索引，列（行）用普通索引，交叉索引用**ix**方法

In [36]:
df.ix[0:2, ['客户姓名', '唯一识别码']]
df.loc[df.index[0:2], ['客户姓名', '唯一识别码']]
df.iloc[0:2, df.columns.get_loc('客户姓名'): df.columns.get_loc('唯一识别码')+1]

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

  客户姓名  唯一识别码
一  张 通    101
二   李谷    102

  客户姓名  唯一识别码
一  张 通    101
二   李谷    102

  客户姓名  唯一识别码
一  张 通    101
二   李谷    102